.home-container {
    background-color: #000000; 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(248, 248, 248, 0.95);
    max-width: 800px;
    margin: 20px auto;
}

.home-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: white; /* White color for the title */
}

.home-description {
    font-size: 1.2rem;
    line-height: 1.6;
    color: white; /* White color for the description text */
}

/* Apply background color to the entire page */
body {
    background-color: #434141; /* Black background for the whole page */
}
